body {
    background-color: white;
    font-family: "Patrick Hand", serif;
}

p {
    font-size: 22px;
}

h1 {
    font-size: 40px;
    margin: 20px;
}

h2 {
    color: brown;
    font-size: 34px;
    font-weight: bold;
    font-style: italic;
    font-family: "Patrick Hand", serif;
    text-align: left;
  }

h3 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
  }

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: pink;
    margin-left: 20px;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    min-height: 80px;
    max-height: 150px;
    padding: 10px;
    flex: wrap;
}

nav {
    display: inline-block;
    float: right;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 20px;
}

nav ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    color: white;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
    margin: 20px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-heart {
    color: brown;
    font-size: 40px;
    
/*@keyframes .fa-heart {
    from {transform: scale(1) rotate(0deg);}
    to {transform: scale(1.1) rotate(15deg);}*/
}

.valentines-form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: pink;
    border-radius: 4px;
    border-style: dotted;
    border-color: brown;
    width: 90%;
    height: 500px;
    min-width: 300px;
    max-width: 450px;
    padding: 30px;
    margin: 20px;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    font-family: "Patrick Hand", serif;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}

input, textarea {
    width: 280px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: brown;
    color: brown;
    padding: 10px;
    margin-top: 10px;
    flex: wrap;
}

.send-btn {
    min-width: 20px;
    max-width: 200px;
    padding: 10px;
    background-color: brown;
    color: white;
    border-style: solid;
    border-color: palevioletred;
    border-radius: 4px;
}

.send-btn:hover {
    background-color: palevioletred;
    transition: all 0.6s ease-in-out;
    /*transition-delay: 0.2s;*/
}
